#setting_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px; /* 適度な横幅に */
  margin: 0 auto;
}

.setting_item {
  display: grid;
  grid-template-columns: max-content 30px auto;
  align-items: center;
  margin-bottom: 1em;
}

.setting_item label {
  justify-self:end;
  width:160px;
  margin-right:30px;
}

.setting_item select,
.setting_item input {
/*   flex: 2; */
  display:flex;
  justify-self:start;
  width:80px;
  padding: 0.4em;
}

.btn{
  display:flex;
  justify-content:center;
  gap:0px 100px;
  margin-top:30px;
}